.diet-chart {
  position: relative;
  background-color: var(--color-4);
  background-image: url("/Assets/waves.png");
  background-size: contain;
  background-position: bottom left;
  background-repeat: repeat-x;
  height: 800px;
  padding-top: 50px;
}

/* leaf */
.diet-chart .leaf {
  position: absolute;
  width: 50px;
  height: 70px;
  top: 10px;
  left: 0;
}

/* img  */
.diet-chart .img {
  position: absolute;
  height: 300px;
  right: 0;
  bottom: 0;
  object-fit: contain;
  object-position: bottom right;
}

/* text  */
.diet-chart .text h1 {
  max-width: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.01em;
  color: var(--color-7);
  margin-bottom: 32px;
}

.diet-chart .text p {
  max-width: 290px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: var(--color-6);
  margin-bottom: 32px;
}

.diet-chart .text button {
  padding: 4px 13px;
  font-size: 13px;
}

/* animation */
.diet-chart .text {
  opacity: 0;
  transform: translateX(-100px);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  transition-duration: 600ms;
}

.diet-chart.ani .text {
  opacity: 1;
  transform: translateX(0);
}
@media screen and (min-width: 380px) {
  .diet-chart {
    padding-left: 3%;
  }
}

@media screen and (min-width: 400px) {
  .diet-chart .text button {
    padding: 8px 16px;
    font-size: 16px;
  }
}

@media screen and (min-width: 550px) {
  .diet-chart {
    height: 840px;
  }

  .diet-chart .leaf {
    width: 70px;
    height: 90px;
  }

  .diet-chart .img {
    height: 350px;
  }
}

@media screen and (min-width: 710px) {
  .diet-chart {
    height: 600px;
    padding-left: 4%;
  }

  .diet-chart .img {
    height: 480px;
  }
}

@media screen and (min-width: 845px) {
  .diet-chart {
    height: 800px;
  }

  .diet-chart .text h1 {
    max-width: 350px;
    font-size: 56px;
  }

  .diet-chart .text p {
    max-width: 490px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1050px) {
  .diet-chart {
    padding-top: 100px;
  }

  .diet-chart .leaf {
    top: 40px;
    width: 100px;
    height: 120px;
  }

  .diet-chart .img {
    height: 570px;
  }
}

@media screen and (min-width: 1200px) {
  .diet-chart .img {
    height: 690px;
  }
}
