.intro {
  position: relative;
  overflow-x: hidden;
}

.intro .content {
  padding-top: 40px;
}

.intro .text {
  position: relative;
  animation: introTextAni 500ms ease-in-out forwards;
  opacity: 0;
  transform: translateX(-50px);
}

@keyframes introTextAni {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* intro text */
.intro .text h1 {
  width: 100%;
  max-width: 235px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.01em;
  color: var(--color-7);
  margin-bottom: 24px;
}

.intro .text p {
  width: 100%;
  max-width: 320px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: var(--color-1);
  margin-bottom: 40px;
}

.intro .text button {
  margin-bottom: 40px;
}

/* intro img */
.intro .img-container {
  line-height: 0;
  position: relative;
  text-align: center;
  transform: translateX(+50px);
  opacity: 0;
  animation: imgContAni 500ms ease-in-out forwards;
}

@keyframes imgContAni {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.intro .img-container .img {
  height: 400px;
  object-fit: contain;
  object-position: bottom;
}

@media screen and (min-width: 630px) {
  .intro .content {
    padding-top: 0;
    display: flex;
    justify-content: center;
  }
  .intro .text,
  .intro .img-container {
    flex: 100%;
  }

  .intro .text {
    display: flex;
    justify-content: center;
  }

  .intro .img-container .img {
    height: 500px;
  }
}

@media screen and (min-width: 845px) {
  .intro .content {
    padding-top: 0;
  }

  .intro .text h1 {
    max-width: 455px;
    font-size: 52px;
  }

  .intro .text p {
    max-width: 380px;
    font-size: 20px;
    color: var(--color-6);
  }

  .intro .img-container {
    padding-top: 20px;
  }

  .intro .img-container .img {
    height: 600px;
  }
}

@media screen and (min-width: 900px) {
  .intro .text h1 {
    font-size: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .intro .img-container .img {
    height: 700px;
  }
}
