/* nav */
.nav {
  height: 64px;
  position: relative;
  z-index: 3;
  padding: 12px 0;
}

/* nav wrapper */
.nav .wrapper {
  width: 100%;
}

.nav .content {
  position: relative;
  transform: translateY(-100px);
  animation: navAni 400ms ease-in-out forwards;
  opacity: 0;
}

@keyframes navAni {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* nav logo */
.nav-logo {
  width: 67px;
  height: 36px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.nav-logo.logo-1 {
  background: url("../../../../Assets/logo-1.png");
}

.nav-logo.logo-2 {
  background: url("../../../../Assets/logo-2.png");
}

/* nav hamburger */
.nav-hamburger {
  width: 24px;
  height: 20px;
}

.nav-hamburger span {
  width: 100%;
  height: 3px;
  transition: all 300ms ease-in-out;
  transform-origin: left center;
}

/* nav hamburger open */
.nav-hamburger.open span:first-child {
  transform: rotate(45deg);
}

.nav-hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-hamburger.open span:last-child {
  transform: rotate(-45deg);
}

/* nav-overlay */
.nav-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* nav-menu mobile*/
.nav-menu-mob {
  width: calc(100% - 20px);
  max-width: 500px;
  position: absolute;
  z-index: 1;
  top: -350px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  transition: top 300ms ease-in-out;
}

.nav-menu-mob.open {
  top: 79px;
}

.nav-menu-mob a {
  font-style: bold;
  padding: 10px 0;
  border-radius: 10px;
}

.nav-menu-mob a:hover {
  background-color: var(--color-3);
}

/* nav menu desktop */
.nav-menu-desk {
  display: none;
  width: 488px;
}

.nav-menu-desk a {
  position: relative;
}

.nav-menu-desk > a:hover {
  font-style: bold;
  color: white;
  transition: color 300ms ease-in-out;
}

.nav-menu-desk > a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  height: 3px;
  background: white;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.nav-menu-desk > a:hover::before {
  opacity: 1;
}

/* nav cta */
.nav-cta {
  display: none;
  transition: opacity 200ms ease-in-out;
}

@media screen and (min-width: 845px) {
  .nav {
    height: 74px;
  }

  .nav-logo {
    width: 89px;
    height: 48px;
  }

  .nav-hamburger {
    display: none;
  }

  .nav-overlay {
    display: none;
  }

  .nav-menu-mob {
    display: none;
  }

  .nav-menu-desk {
    display: flex;
  }

  .nav-cta {
    display: inline-block;
  }
}
