.page-title {
  position: relative;
  width: 100%;
  margin-bottom: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.page-title .wrapper h1 {
  padding-top: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  letter-spacing: -0.01em;
  color: var(--color-1);
}

.page-title.about {
  background-image: url("/Assets/About.png");
  background-color: var(--color-7);
}

@media screen and (min-width: 450px) {
  .page-title {
    height: 100px;
  }

  .page-title .wrapper h1 {
    font-size: 42px;
  }
}

@media screen and (min-width: 630px) {
  .page-title {
    height: 120px;
    margin-bottom: 75px;
  }
  .page-title .wrapper h1 {
    font-size: 56px;
  }
}

@media screen and (min-width: 845px) {
  .page-title {
    height: 170px;
    margin-bottom: 100px;
  }

  .page-title .wrapper h1 {
    padding-top: 50px;
    font-size: 70px;
  }
}
