.btn {
  border-radius: 20px;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
}

.btn:hover {
  transition-property: color, opacity, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.btn-dark {
  background-color: var(--color-7);
  color: var(--color-1);
}

.btn-dark:hover {
  opacity: 0.7;
}

.btn-light {
  background-color: var(--color-1);
  color: var(--color-7);
}

.btn-light:hover {
  background-color: var(--color-4);
}

.btn-toggle {
  border: 1px solid var(--color-7);
  background-color: var(--color-1);
  color: var(--color-7);
}

.btn-toggle:hover {
  background-color: var(--color-7);
  color: var(--color-1);
}
