:root {
  /* gray colors */
  --gray-6: #939ca3;
  /* colors */
  --color-1: #ffffff;
  --color-3: #fff9f5;
  --color-4: #fee2cc;
  --color-5: #fca967;
  --color-6: #fb9b4d;
  --color-7: #fa7001;
  --color-9: #08090a;
}
